USE [master]
GO
/****** Object:  Database [smoking_cessation_db03]    Script Date: 6/25/2025 11:30:23 PM ******/
CREATE DATABASE [smoking_cessation_db03]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'smoking_cessation_db03', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\smoking_cessation_db03.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'smoking_cessation_db03_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\smoking_cessation_db03_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [smoking_cessation_db03].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [smoking_cessation_db03]
GO
/****** Object:  Table [dbo].[account]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[avatar] [varchar](255) NULL,
	[email] [nvarchar](30) NULL,
	[password] [nvarchar](100) NULL,
	[phone_number] [nvarchar](10) NULL,
	[provider] [varchar](255) NULL,
	[provider_id] [varchar](255) NULL,
	[role] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[username] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKq0uja26qgu1atulenwup9rxyr] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[achievement]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[achievement](
	[id] [varchar](255) NOT NULL,
	[earned_at] [datetime2](6) NULL,
	[account_id] [varchar](255) NOT NULL,
	[goal_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aitoken_usage]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aitoken_usage](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[date] [date] NOT NULL,
	[tokens_used] [int] NOT NULL,
	[account_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKbyt5et79sm8gauvu5f8r00aua] UNIQUE NONCLUSTERED 
(
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[content] [varchar](max) NULL,
	[cover_image_url] [varchar](255) NULL,
	[excerpt] [varchar](255) NULL,
	[slug] [varchar](255) NOT NULL,
	[status] [varchar](255) NULL,
	[title] [varchar](255) NULL,
	[account_id] [varchar](255) NOT NULL,
	[category_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKrse7kjvydwev63jjbsm0dw4ey] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[ended_at] [datetime2](6) NULL,
	[meet_link] [varchar](255) NULL,
	[started_at] [datetime2](6) NULL,
	[status] [varchar](255) NULL,
	[coach_id] [varchar](255) NOT NULL,
	[member_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[content] [varchar](255) NULL,
	[account_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coach]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coach](
	[account_id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[bio] [varchar](255) NULL,
	[certificates] [varchar](255) NULL,
	[experience_years] [int] NOT NULL,
	[full_name] [varchar](255) NULL,
	[social_links] [varchar](255) NULL,
	[specializations] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[content] [text] NULL,
	[level] [int] NOT NULL,
	[account_id] [varchar](255) NOT NULL,
	[blog_id] [varchar](255) NOT NULL,
	[parent_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[comment] [varchar](255) NULL,
	[rating] [int] NOT NULL,
	[account_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goal]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goal](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[criteria_type] [varchar](255) NULL,
	[criteria_value] [int] NOT NULL,
	[description] [varchar](255) NULL,
	[icon_url] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[account_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[health]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[health](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[cigarettes_per_day] [int] NOT NULL,
	[cigarettes_per_pack] [int] NOT NULL,
	[ftnd_level] [int] NOT NULL,
	[pack_price] [float] NOT NULL,
	[reason_to_quit] [varchar](255) NULL,
	[smoke_year] [int] NOT NULL,
	[account_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[member]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member](
	[account_id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[address] [varchar](255) NULL,
	[dob] [date] NULL,
	[full_name] [varchar](255) NULL,
	[gender] [varchar](255) NULL,
	[highest_streak] [int] NOT NULL,
	[last_counter_reset] [datetime2](6) NULL,
	[score] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[membership]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[membership](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[currency] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[duration_days] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[content] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[content] [varchar](255) NULL,
	[is_read] [bit] NOT NULL,
	[notification_type] [varchar](255) NULL,
	[sent_at] [datetime2](6) NULL,
	[account_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phase]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phase](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[cigarette_bound] [int] NOT NULL,
	[description] [varchar](255) NULL,
	[end_date] [date] NULL,
	[phase_name] [varchar](255) NULL,
	[phase_status] [varchar](255) NULL,
	[start_date] [date] NULL,
	[plan_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[plans]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plans](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[end_date] [date] NULL,
	[plan_name] [varchar](255) NULL,
	[plan_status] [varchar](255) NULL,
	[start_date] [date] NULL,
	[success_rate] [float] NOT NULL,
	[account_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[record_habit]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[record_habit](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[cigarettes_smoked] [int] NOT NULL,
	[date] [date] NOT NULL,
	[account_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKshka0kpep9spiuw10xlfkpcis] UNIQUE NONCLUSTERED 
(
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_token]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_token](
	[id] [varchar](255) NOT NULL,
	[expiry_time] [datetime2](6) NULL,
	[account_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK1gnoedr4u8s5p7ccdkftq38bh] UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[comment] [varchar](255) NULL,
	[rating] [int] NOT NULL,
	[coach_id] [varchar](255) NOT NULL,
	[member_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[score]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[score](
	[account_id] [varchar](255) NOT NULL,
	[number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[setting]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setting](
	[account_id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[language] [varchar](255) NULL,
	[motivation_frequency] [varchar](255) NULL,
	[report_deadline] [time](7) NULL,
	[theme] [varchar](255) NULL,
	[tracking_mode] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[streak]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[streak](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[number] [int] NOT NULL,
	[account_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subscription]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subscription](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[end_date] [date] NULL,
	[start_date] [date] NULL,
	[account_id] [varchar](255) NOT NULL,
	[membership_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time_table]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_table](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[ended_at] [datetime2](6) NULL,
	[name] [varchar](255) NULL,
	[started_at] [datetime2](6) NULL,
	[coach_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 6/25/2025 11:30:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[amount] [float] NOT NULL,
	[status] [varchar](255) NULL,
	[type] [varchar](255) NULL,
	[account_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKg4b37bcdq6mmqdp3p67qoatc]    Script Date: 6/25/2025 11:30:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKg4b37bcdq6mmqdp3p67qoatc] ON [dbo].[account]
(
	[phone_number] ASC
)
WHERE ([phone_number] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKgex1lmaqpg0ir5g1f5eftyaa1]    Script Date: 6/25/2025 11:30:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKgex1lmaqpg0ir5g1f5eftyaa1] ON [dbo].[account]
(
	[username] ASC
)
WHERE ([username] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[achievement]  WITH CHECK ADD  CONSTRAINT [FKgm06wd9ytu6uh75pfiagq9aey] FOREIGN KEY([goal_id])
REFERENCES [dbo].[goal] ([id])
GO
ALTER TABLE [dbo].[achievement] CHECK CONSTRAINT [FKgm06wd9ytu6uh75pfiagq9aey]
GO
ALTER TABLE [dbo].[achievement]  WITH CHECK ADD  CONSTRAINT [FKgs4xf881hgkm9klsl52lxr25j] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[achievement] CHECK CONSTRAINT [FKgs4xf881hgkm9klsl52lxr25j]
GO
ALTER TABLE [dbo].[aitoken_usage]  WITH CHECK ADD  CONSTRAINT [FKgaru9iwwya1euv1lra5k2g5fc] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[aitoken_usage] CHECK CONSTRAINT [FKgaru9iwwya1euv1lra5k2g5fc]
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [FK2rvtagi1yam2hsyv2i27i0lrl] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [FK2rvtagi1yam2hsyv2i27i0lrl]
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [FKqyvjif1i2geaeuvkh3n1jrnn4] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [FKqyvjif1i2geaeuvkh3n1jrnn4]
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD  CONSTRAINT [FK9x1i5464d0qmyepwgy6hrqo1m] FOREIGN KEY([member_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[booking] CHECK CONSTRAINT [FK9x1i5464d0qmyepwgy6hrqo1m]
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD  CONSTRAINT [FKarkpjmjhfe6fa30tq140dvloi] FOREIGN KEY([coach_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[booking] CHECK CONSTRAINT [FKarkpjmjhfe6fa30tq140dvloi]
GO
ALTER TABLE [dbo].[chat]  WITH CHECK ADD  CONSTRAINT [FK3hf297eqygdm94kn5cnymfjeu] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[chat] CHECK CONSTRAINT [FK3hf297eqygdm94kn5cnymfjeu]
GO
ALTER TABLE [dbo].[coach]  WITH CHECK ADD  CONSTRAINT [FKneh7gfkfrubd0cyvw9wcwqlws] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[coach] CHECK CONSTRAINT [FKneh7gfkfrubd0cyvw9wcwqlws]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FKde3rfu96lep00br5ov0mdieyt] FOREIGN KEY([parent_id])
REFERENCES [dbo].[comment] ([id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FKde3rfu96lep00br5ov0mdieyt]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FKkap39f76wn135k7ru564fbjb7] FOREIGN KEY([blog_id])
REFERENCES [dbo].[blog] ([id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FKkap39f76wn135k7ru564fbjb7]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FKp41h5al2ajp1q0u6ox3i68w61] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FKp41h5al2ajp1q0u6ox3i68w61]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [FKljoe4l0npa8nv5q24e4c1n1ik] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [FKljoe4l0npa8nv5q24e4c1n1ik]
GO
ALTER TABLE [dbo].[goal]  WITH CHECK ADD  CONSTRAINT [FKs1q7s4ihcfh4qt3lk128f7p8p] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[goal] CHECK CONSTRAINT [FKs1q7s4ihcfh4qt3lk128f7p8p]
GO
ALTER TABLE [dbo].[health]  WITH CHECK ADD  CONSTRAINT [FKnf80ytn9v9en6n4pesfo9mnj8] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[health] CHECK CONSTRAINT [FKnf80ytn9v9en6n4pesfo9mnj8]
GO
ALTER TABLE [dbo].[member]  WITH CHECK ADD  CONSTRAINT [FK4jsivcqa7rxm6w59nggnpywh9] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[member] CHECK CONSTRAINT [FK4jsivcqa7rxm6w59nggnpywh9]
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD  CONSTRAINT [FKj0b1ncedmpl7sx7t7o54t26v2] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[notification] CHECK CONSTRAINT [FKj0b1ncedmpl7sx7t7o54t26v2]
GO
ALTER TABLE [dbo].[phase]  WITH CHECK ADD  CONSTRAINT [FKm9fqw1pe7u8li00r9dhrc4el0] FOREIGN KEY([plan_id])
REFERENCES [dbo].[plans] ([id])
GO
ALTER TABLE [dbo].[phase] CHECK CONSTRAINT [FKm9fqw1pe7u8li00r9dhrc4el0]
GO
ALTER TABLE [dbo].[plans]  WITH CHECK ADD  CONSTRAINT [FK5bsiavb4v0b313aw3x9cved07] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[plans] CHECK CONSTRAINT [FK5bsiavb4v0b313aw3x9cved07]
GO
ALTER TABLE [dbo].[record_habit]  WITH CHECK ADD  CONSTRAINT [FK7atjsnh9ivf37iol4pwfr6fno] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[record_habit] CHECK CONSTRAINT [FK7atjsnh9ivf37iol4pwfr6fno]
GO
ALTER TABLE [dbo].[refresh_token]  WITH CHECK ADD  CONSTRAINT [FKiox3wo9jixvp9boxfheq7l99w] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[refresh_token] CHECK CONSTRAINT [FKiox3wo9jixvp9boxfheq7l99w]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK904ex3mw35sv7qktwi7i2137t] FOREIGN KEY([coach_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK904ex3mw35sv7qktwi7i2137t]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FKl20d9hvy367bj0eyfn40n0rih] FOREIGN KEY([member_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FKl20d9hvy367bj0eyfn40n0rih]
GO
ALTER TABLE [dbo].[score]  WITH CHECK ADD  CONSTRAINT [FK8re0fw8bbddx8nw9ipjnwgllg] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[score] CHECK CONSTRAINT [FK8re0fw8bbddx8nw9ipjnwgllg]
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD  CONSTRAINT [FK8rstrl3usjabkaw9tgckgdna] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[setting] CHECK CONSTRAINT [FK8rstrl3usjabkaw9tgckgdna]
GO
ALTER TABLE [dbo].[streak]  WITH CHECK ADD  CONSTRAINT [FK3oj3e6drami89ubsc8nbp9rt4] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[streak] CHECK CONSTRAINT [FK3oj3e6drami89ubsc8nbp9rt4]
GO
ALTER TABLE [dbo].[subscription]  WITH CHECK ADD  CONSTRAINT [FK1geaprb0njqeb7s7t10sx5y2h] FOREIGN KEY([membership_id])
REFERENCES [dbo].[membership] ([id])
GO
ALTER TABLE [dbo].[subscription] CHECK CONSTRAINT [FK1geaprb0njqeb7s7t10sx5y2h]
GO
ALTER TABLE [dbo].[subscription]  WITH CHECK ADD  CONSTRAINT [FKa7rlfnh5jn8tdfab71nkbeh9w] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[subscription] CHECK CONSTRAINT [FKa7rlfnh5jn8tdfab71nkbeh9w]
GO
ALTER TABLE [dbo].[time_table]  WITH CHECK ADD  CONSTRAINT [FKpcuvl4us5kqp7w19s6ni31060] FOREIGN KEY([coach_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[time_table] CHECK CONSTRAINT [FKpcuvl4us5kqp7w19s6ni31060]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FKfyn6ksis1qglevn2liiqirx75] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FKfyn6ksis1qglevn2liiqirx75]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([provider]='GOOGLE' OR [provider]='LOCAL'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([provider]='GOOGLE' OR [provider]='LOCAL'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([provider]='GOOGLE' OR [provider]='LOCAL'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([provider]='GOOGLE' OR [provider]='LOCAL'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([role]='MEMBER' OR [role]='COACH' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([role]='MEMBER' OR [role]='COACH' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([role]='MEMBER' OR [role]='COACH' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([role]='MEMBER' OR [role]='COACH' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([status]='BANNED' OR [status]='ONLINE' OR [status]='OFFLINE'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([status]='BANNED' OR [status]='ONLINE' OR [status]='OFFLINE'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([status]='BANNED' OR [status]='ONLINE' OR [status]='OFFLINE'))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([status]='BANNED' OR [status]='ONLINE' OR [status]='OFFLINE'))
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD CHECK  (([status]='SCHEDULED' OR [status]='ARCHIVED' OR [status]='PUBLISH' OR [status]='DRAFTING'))
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD CHECK  (([status]='SCHEDULED' OR [status]='ARCHIVED' OR [status]='PUBLISH' OR [status]='DRAFTING'))
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD CHECK  (([status]='SCHEDULED' OR [status]='ARCHIVED' OR [status]='PUBLISH' OR [status]='DRAFTING'))
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD CHECK  (([status]='SCHEDULED' OR [status]='ARCHIVED' OR [status]='PUBLISH' OR [status]='DRAFTING'))
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[member]  WITH CHECK ADD CHECK  (([gender]='OTHERS' OR [gender]='MALE' OR [gender]='FEMALE'))
GO
ALTER TABLE [dbo].[member]  WITH CHECK ADD CHECK  (([gender]='OTHERS' OR [gender]='MALE' OR [gender]='FEMALE'))
GO
ALTER TABLE [dbo].[member]  WITH CHECK ADD CHECK  (([gender]='OTHERS' OR [gender]='MALE' OR [gender]='FEMALE'))
GO
ALTER TABLE [dbo].[member]  WITH CHECK ADD CHECK  (([gender]='OTHERS' OR [gender]='MALE' OR [gender]='FEMALE'))
GO
ALTER TABLE [dbo].[membership]  WITH CHECK ADD CHECK  (([currency]='USD' OR [currency]='VND'))
GO
ALTER TABLE [dbo].[membership]  WITH CHECK ADD CHECK  (([currency]='USD' OR [currency]='VND'))
GO
ALTER TABLE [dbo].[membership]  WITH CHECK ADD CHECK  (([currency]='USD' OR [currency]='VND'))
GO
ALTER TABLE [dbo].[membership]  WITH CHECK ADD CHECK  (([currency]='USD' OR [currency]='VND'))
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD CHECK  (([notification_type]='LIVE' OR [notification_type]='EMAIL'))
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD CHECK  (([notification_type]='LIVE' OR [notification_type]='EMAIL'))
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD CHECK  (([notification_type]='LIVE' OR [notification_type]='EMAIL'))
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD CHECK  (([notification_type]='LIVE' OR [notification_type]='EMAIL'))
GO
ALTER TABLE [dbo].[phase]  WITH CHECK ADD CHECK  (([phase_status]='CANCELLED' OR [phase_status]='INACTIVE' OR [phase_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[phase]  WITH CHECK ADD CHECK  (([phase_status]='CANCELLED' OR [phase_status]='INACTIVE' OR [phase_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[phase]  WITH CHECK ADD CHECK  (([phase_status]='CANCELLED' OR [phase_status]='INACTIVE' OR [phase_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[phase]  WITH CHECK ADD CHECK  (([phase_status]='CANCELLED' OR [phase_status]='INACTIVE' OR [phase_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[plans]  WITH CHECK ADD CHECK  (([plan_status]='CANCELLED' OR [plan_status]='INACTIVE' OR [plan_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[plans]  WITH CHECK ADD CHECK  (([plan_status]='CANCELLED' OR [plan_status]='INACTIVE' OR [plan_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[plans]  WITH CHECK ADD CHECK  (([plan_status]='CANCELLED' OR [plan_status]='INACTIVE' OR [plan_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[plans]  WITH CHECK ADD CHECK  (([plan_status]='CANCELLED' OR [plan_status]='INACTIVE' OR [plan_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([language]='VN' OR [language]='EN'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([language]='VN' OR [language]='EN'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([language]='VN' OR [language]='EN'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([language]='VN' OR [language]='EN'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([motivation_frequency]='MONTHLY' OR [motivation_frequency]='WEEKLY' OR [motivation_frequency]='DAILY' OR [motivation_frequency]='EVERY12HOURS' OR [motivation_frequency]='EVERY6HOURS' OR [motivation_frequency]='NEVER'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([motivation_frequency]='MONTHLY' OR [motivation_frequency]='WEEKLY' OR [motivation_frequency]='DAILY' OR [motivation_frequency]='EVERY12HOURS' OR [motivation_frequency]='EVERY6HOURS' OR [motivation_frequency]='NEVER'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([motivation_frequency]='MONTHLY' OR [motivation_frequency]='WEEKLY' OR [motivation_frequency]='DAILY' OR [motivation_frequency]='EVERY12HOURS' OR [motivation_frequency]='EVERY6HOURS' OR [motivation_frequency]='NEVER'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([motivation_frequency]='MONTHLY' OR [motivation_frequency]='WEEKLY' OR [motivation_frequency]='DAILY' OR [motivation_frequency]='EVERY12HOURS' OR [motivation_frequency]='EVERY6HOURS' OR [motivation_frequency]='NEVER'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([theme]='LIGHT' OR [theme]='DARK'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([theme]='LIGHT' OR [theme]='DARK'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([theme]='LIGHT' OR [theme]='DARK'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([theme]='LIGHT' OR [theme]='DARK'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([tracking_mode]='DAILY_REPORT' OR [tracking_mode]='AUTO_COUNTER'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([tracking_mode]='DAILY_REPORT' OR [tracking_mode]='AUTO_COUNTER'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([tracking_mode]='DAILY_REPORT' OR [tracking_mode]='AUTO_COUNTER'))
GO
ALTER TABLE [dbo].[setting]  WITH CHECK ADD CHECK  (([tracking_mode]='DAILY_REPORT' OR [tracking_mode]='AUTO_COUNTER'))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([type]='BANKING' OR [type]='QR' OR [type]='CARD'))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([type]='BANKING' OR [type]='QR' OR [type]='CARD'))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([type]='BANKING' OR [type]='QR' OR [type]='CARD'))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([type]='BANKING' OR [type]='QR' OR [type]='CARD'))
GO
USE [master]
GO
